@page
@model PlatinumGym.Pages.Appointments.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.TrainerID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.TrainerID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.ClientID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.ClientID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.SubscriptionID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.SubscriptionID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Data)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Data)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Ora)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Ora)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Appointment?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
